<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/header :: commonHeader(#{golden.menu.viewLetterConfig})">
</head>
<link rel="stylesheet" th:href="@{../../css/questionniare.css}" type="text/css" />
<body class="body_bg">
    <div th:replace="index/index :: #top"></div>
    <div th:insert="~{index/index :: menu}"></div>
  <br/>
  <div style="margin-left:50px;margin-top:5px;">當前位置：<span th:text="#{golden.menu.productManagement}"/></span>><span th:text="#{golden.menu.letterConfig}"/></span></div>
  
  <br/>
  <div class="main">
  <input type="hidden" id="flag" th:value="${flag}" />
  <input type="hidden" id="CheckEditFlag" th:value="${CheckEditFlag}" />
  <input type="hidden" id="editFlag" th:value="${CheckEditFlag}" />
  <input type="hidden" id="questionnaireType" th:value="${questionnaireType}" />
  <input type="hidden" id="prodId" th:value="${prodId}" />
  <input type="hidden" id="commitName" th:value="${commitName}" />
  <form id="questionnarie">
  
  <table class="tb01 mgt">
     <tr>
      <th colspan="6" class="title">
       <img src="../images/measureWord/u8597.png">
       <span th:text="#{golden.menu.viewLetterConfig}" style="margin-left:5px;"/></span>
      </th>
     </tr>
       <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>產品名稱：</td>
       <td  style="text-align:left" th:text="${prodName}"></td>
     </tr>
     
     
      <!--  <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>選擇問卷：</td>
       <td  style="text-align:left" th:text="${questionnaire.name}"></td>
     </tr> -->
     
      <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>選擇問卷：</td>
       <td style="text-align:left" class="not">
       <div id="questionNames">
       <span th:unless="${#lists.isEmpty(questionNames)}" th:each="questionName:${questionNames}">
          <!-- <input name="questionNamess" type="checkbox" class="checkbox" th:value="${questionName.key}" th:text="${questionName.value}" th:questionId="${questionName.key}" th:questionName="${questionName.value}" th:onclick="checkChange(this)"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         -->
         <input name="questionNameCheckBox" type="checkbox" class="checkbox" th:value="${questionName.key}" th:text="${questionName.value}" th:questionId="${questionName.key}" th:questionName="${questionName.value}" th:onclick="checkChange(this)"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        </div>
        </td>
     </tr>
     
      <!--  <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>問卷設置：</td>
       <td  style="text-align:left">
       <input type="button" th:value="${questionnaire.name}" id="questionnaireConfig" class="input" onclick="showOrHide(this)" />
       </td>
     </tr> -->
     
      <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>問卷設置：</td>
       <td style="text-align:left">
       <div id="questionnaireConfigDiv">
       <!-- <span th:unless="${#lists.isEmpty(questionNames)}" th:each="questionName:${questionNames}">
          <input type="button" class="input" id="questionnaireConfig" th:value="${questionName.value}"  onclick="showOrHide(this)" ></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span> -->
        </div>
        </td>
       
     </tr>
     
      
       <!-- <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>預計上線時間：</td>
       <td  style="text-align:left" th:text="${estimatedLaunchTime}"></td>
     </tr> -->
       </table>
       
     <div id="productManagementcom_list">
        </div>
        
         <div>
        <table class="tb01 mgt productTable">
     <tr>
       <th colspan="8" style="text-align:left;margin-left:15px;">
         <span><b class="question_no">人工審核意見</b></span>
      </th>
      </tr>
     <tr>
       <td class="tdback" style="width:20%;text-align:right;"><span class="_red">*</span>審核結果：</td>
       <td style="text-align:left" class="not">
       <div id="auditStateFlag">
          <input name="auditState" type="radio"  value="01" th:text="通過" th:checked="${checkResult}=='01'" ></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="auditState" type="radio"  value="02" th:text="拒絕" th:checked="${checkResult}=='02'" ></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        </td>
     </tr>
     <tr>
     <td class="tdback" style="width:20%;text-align:right;">審核備註：</td>
     <td style="width:60%;text-align:left" class="not">
            <textarea rows="3" cols="90" name="auditRemark" class="textarea" th:text="${auditRemark}"></textarea>
  </td>
     </tr>
        </table>
 
 </div>
        
       
        <div style="text-align:center;margin-top:15px;">
        <input th:if="${CheckEditFlag!=null}" type="button" id="commitId" class="button_blue" value="提交" onclick="javascript:commitForCheckPage()" />
        <input type="button" id="backQueryPage" class="button_blue" value="返回查詢頁" onclick="javascript:history.back(-1);" />
       </div> 
       
           <!-- 提交弹框提示 -->
       <div id="commitWindow" style="display:none;">
       <div style="text-align: center;margin-top:15px;">
               提交成功!
       </div>
       <div style="text-align: center;padding-top:40px;">
            <input id="turnBackPage" type="button" value="返回查詢頁" class="button_blue" onclick="javascript:gotoPage()"/>
       </div>
       </div>
       
       </div>
<input type="hidden" id="authorityFlag" th:value="${authorityFlag}"/>
<div th:replace="~{common/footer :: footer}"></div>
<script type="text/javascript" src="../../js/productManagement/editProductManagement.js"></script>
</body>
</html>