<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
</head>
<body>

<footer class="foot" data-th-fragment="footer">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <script type="text/javascript">var context_path = '..';</script>
        <script type="text/javascript" src="../../js/jquery1.10.4/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="../../js/jquery1.10.4/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="../../js/common/jquery-simplevalidator-1.0.js"></script>
        <script type="text/javascript" src="../../js/common/jquery.loadmask.min.js"></script>
        <script type="text/javascript" src="../../js/common/jcarousellite_1.0.1.js"></script>
        <script type="text/javascript" src="../../js/common/json2.js"></script>
        <script type="text/javascript" src="../../js/common/common.js"></script>
        <script type="text/javascript" src="../../js/common/attachment.js"></script>
        <script type="text/javascript" src="../../js/timepicker/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="../../js/common/jquery.guillotine.js"></script>
        <script type="text/javascript" src="../../js/vendor/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="../../js/jqueryfileupload/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="../../js/jqueryfileupload/jquery.fileupload.js"></script>
        <script type="text/javascript" src="../../js/jqueryfileupload/ajaxfileupload.js"></script>
        <script type="text/javascript" src="../../js/common/jquery.form.js"></script>
        <script type="text/javascript" src="../../js/common/jquery.iviewer.js"></script>
        <script type="text/javascript" src="../../js/common/date.format.js"></script>
        <ul id="redirect_systems_menu" >
        </ul>
        <div class="foot">
                <span style="color: #FFFFFF">
                        台北富邦銀行　版權所有 © 2018 Taipei Fubon Bank. All Rights Reserved.<br/> 建議瀏覽器使用IE8.0 以上版本
                </span>
        </div>
</footer>

</body>
</html>