<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta http-equiv="Pragma" content="no-cache">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{../../css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../../css/basic.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../../css/jquery-simplevalidator.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../../css/jquery.loadmask.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../../css/jquery.guillotine.css}" th:media='all' type="text/css" />
    <link rel="stylesheet" th:href="@{../../css/index/sidebar.css}" th:media='all' type="text/css" />
	<link rel="stylesheet" th:href="@{../../js/jquery1.10.4/css/jquery-ui-1.10.4.custom.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{../../js/timepicker/jquery-ui-timepicker-addon.css}" type="text/css" />
</head>
<body>
</body>
</html>