<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/header :: commonHeader(#{goldencudgel.menu.measureWord})">
</head>
<style type="text/css">
select::-ms-expand { display: none; }
</style>
<body class="body_bg">
    <div th:replace="index/index :: #top"/>
    <div th:insert="~{index/index :: menu}"/>
  <br/>
  <div style="margin-left:50px;margin-top:5px;">當前位置：<span th:text="#{goldencudgel.menu.wordShop}"></span>><span th:text="#{goldencudgel.menu.measureWord}"></span></div>
   <br/>
  <div class="main">
  <input id="backFlag" type="text" th:value="${backFlag}" style="display: none;" />
  <table class="tb03">
     <tr>
      <th colspan="8" class="title">
       <img src="../images/measureWord/u8597.png">
       <span th:text="#{goldencudgel.menu.measureWord}" style="margin-left:5px;"></span>
      </th>
     </tr>
      <tr style="height:40px;" th:unless="${session.user.userType == 'S' || session.user.userType == 'Z'}">

          <td style="width:7%;text-align: right;"><span th:if="${session.user.userType != 'S' && session.user.userType != 'Z'}">區中心：</span></td>
          <td style="width:11%;">
              <span th:if="${session.user.userType == 'M'}"  th:unless="${#lists.isEmpty(areaList)}">
                        <select name="areaCode" id="areaCode" onchange="getGroupList()"  class="select" >
                            <option value="">全部</option>
                            <option th:each=" area : ${areaList}" th:value="${area.key}" th:text="${area.value}"></option>
                        </select>
                        </span>
              <span th:if="${session.user.userType == 'A' || session.user.userType == 'C'}" th:unless="${#lists.isEmpty(areaList)}" th:each="area:${areaList}">
                            <span th:text="${area.key == session.user.userArea} ? ${area.value}:''"></span>
                        </span>
              <span th:if="${session.user.userType != 'M'}"><input name="areaCode" th:value="${session.user.userArea}" style="display: none"></span>
          </td>
          <td style="width:7%;text-align: right;"><span th:if="${session.user.userType != 'S' && session.user.userType != 'Z'}"> 業務組別：</span></td>
          <td style="width:11%;">
              <span th:if="${session.user.userType == 'M' || session.user.userType == 'A'}">
                            <select name="groupCode" id="groupCode" onchange="getUserList()"  class="select" >
                                <option value="">全部</option>
                                <option th:unless="${#lists.isEmpty(groupList)}" th:each=" group : ${groupList}" th:value="${group.key}" th:text="${group.value}"></option>
                            </select>
                        </span>
              <span th:if="${session.user.userType} == 'C'" th:unless="${#lists.isEmpty(groupList)}" th:each="group:${groupList}">
                            <span th:text="${group.key == session.user.userGroup} ? ${group.value}:''"></span>
                        </span>
              <span th:if="${session.user.userType != 'M' && session.user.userType != 'A'}"><input name="groupCode" th:value="${session.user.userGroup}" style="display: none"></span>
          </td>
          <td style="width:10%;text-align: right;"><span th:if="${session.user.userType != 'S' && session.user.userType != 'Z'}"> 經辦人：</span></td>
          <td style="width:34%;">
              <span th:if="${session.user.userType == 'M' || session.user.userType == 'A' || session.user.userType == 'C'}">
                        <select name="userCode" id="userCode" class="select">
                            <option value="">全部</option>
                            <option th:unless="${#lists.isEmpty(userList)}" th:each=" u : ${userList}" th:value="${u.key}" th:text="${u.value}"></option>
                        </select>
                        </span>
              <span th:if="${session.user.userType == 'S' || session.user.userType == 'Z'}"><input name="userCode" th:value="${session.user.userCode}" style="display: none"></span>
          </td>
          <td></td>
          <!-- <th style="text-align:center;border-style:none;">
               <img src="../../images/missionStroke/u319.png" onclick="showSearch()"/>
               <span th:if="${session.user.userType == 'S' || session.user.userType == 'Z'}">
                   <img src="../../images/missionStroke/u2148.png" th:userType="${session.user.userType}" onclick="addStroke(this)"/>
               </span>
           </th>-->
      </tr>
     <tr>
       <td style="width:9%;text-align:right;">授信戶統編：</td>
       <td style="width:14%;"><input type="text" class="input" name="compilationNo" id="compilationNo" th:value="${compilationNo}"/></td>
       <td style="width:7%;text-align:right;">授信戶名稱：</td>
       <td style="width:14%;"><input type="text" class="input" name="companyName" id="companyName" /></td>
       <td style="width:4%;text-align:right;" class="wordTime">測字時間：</td>
       <td style="width:39%;"><input type="text" name="startDate" readOnly class="input"/>&nbsp;<img id="startImg" src="../images/u22.png"/>&nbsp;~&nbsp;
           <input type="text" name="endDate" readOnly class="input"/>&nbsp;<img id="endImg" src="../images/u22.png"/>
       </td>

     </tr>
      <tr>
      <td style="text-align: right;width: 7%"><span style="color:red;">*</span>產品名稱：</td>
          <td style="text-align: left;width: 14%">
              <select name="userCode" id="productName" class="select" onchange="changeProductName()">
                  <option value="P0001">智能貸</option>
                  <option value="P0002">商戶貸</option>
              </select>
          </td>
          <div id="opcountDiv">
          <td style="text-align: right;width: 13%" id="opcountTd"><span style="color:red;">*</span>發送企業經營報告書：</td>
          <td style="text-align: left;width: 13%">
              <select name="userCode" id="opcount" class="select" >
                  <option value="">全部</option>
                  <option value="02">是</option>
                  <option value="01">否</option>

              </select>
          </td>
          </div>

          <td style="text-align: right;width: 12%" id="qucountTd"><span style="color:red;">*</span>是否有額度問卷：</td>
          <td style="text-align: left;width: 13%">
              <select name="userCode" id="qucount" class="select" >
                  <option value="">全部</option>
                  <option value="02">是</option>
                  <option value="01">否</option>

              </select>
          </td>
          <td>
              <span></span>
          </td>
          <td style="width: 10%!important;">
              <div >
                  <div style="float: right">
                      <img src="../images/u5255.png"/>
                  </div>
                  <input type="button" value="查詢" class="button_blue" onclick="queryMeasureWords(1);">
              </div>
          </td>
      </tr>
    </table>
    <div id="measureWords_list"></div>
    <!-- jcic-->
    <div id="jcic_detail" style="display: none">
        <div id="jcic_content" style="width: 100%;overflow-y:auto;"></div>
        <div style="width: 100%;text-align: center;"><input type="button" value="關閉視窗" class="button_blue" onclick="closeJcic();"></div>
    </div>
    <input style="display: none" id="imgUrl"/>
  </div>
   <div th:replace="~{common/footer :: footer}"></div>
   <script type="text/javascript" src="../../js/measureWord/measureWord.js"></script>
</body>
</html>