<table class="tb01 mgt" style="word-wrap:break-word;word-break:break-all;">
    <tbody>
    <tr>
        <th width="10%">節點</th>
        <th width="12%" class="category" >行業別</th>
        <!--  <th width="16%">附件編號</th> -->
        <th width="16%">附件類型</th>
        <th width="16%">附件名稱</th>
        <th width="10%">顯示順序</th>
        <th width="10%">是否啟用</th>
        <th width="16%">是否必備</th>
        <th width="16%">操作</th>
    </tr>
    <span th:unless="${#lists.isEmpty(datas)}">
             <tr  th:each="connection,connectionStart : ${datas}">
                 <input id = "attachTypeId" type="hidden"  th:value="${connection[0]}"/>
                 <input id = "nodeCode" type="hidden"  th:value="${connection[1]}"/>
                <td th:text="${connection[2]}"></td>
                <td th:text="${connection[11]}" class="category" ></td>
                 <!-- <td th:text="${connection[9]}"></td> -->
                <td th:text="${connection[6]}"></td>
                <td th:text="${connection[10]}"></td>
                 <td th:text="${connection[12]}"></td>
                <td th:text="${connection[7]}=='0'? '不啟用':'啟用'"></td>
                 <td th:text="${connection[8]}=='0'? '不必填':'必填'"></td>
                <td ><a style="cursor: pointer;" th:if="${userUtil.hasFunction('WEB_SYSTEM_ATTACHMENT_UPDATE')}" th:attachTypeId ="${connection[0]}" th:attachTypeName ="${connection[6]}" th:nodeCode ="${connection[1]}" th:nodeName ="${connection[2]}" th:industryType ="${connection[3]}" th:checkItem ="${connection[4]}" th:attachTypeCode ="${connection[5]}" th:isEnable ="${connection[7]}" th:isRequired ="${connection[8]}" th:attachNameCode ="${connection[9]}" th:attachName="${connection[10]}" th:showOrder="${connection[12]}"  th:onclick="javascript:openQueryWin(this);" >修改</a>
                <a style="cursor: pointer;" th:if="${userUtil.hasFunction('WEB_SYSTEM_ATTACHMENT_DELETE')}" th:attachTypeId ="${connection[0]}"  th:onclick="javascript:deleteOpenWin(this);" >删除</a></td>
             </tr>
            </span>
    </tbody>
</table>
<p class="page">
<div th:replace="~{common/page :: page('findRole')}" style="text-align: right"/>
</p>
